<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="maket.html">
<div layout:fragment="site">
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <form th:action="@{'/addApps'}" method="post">
        <div class="form-group mt-2">
          <label>
            User Name:
          </label>
          <input type="text" class="form-control" name="userName">
        </div>
        <div class="form-group mt-3">
          <label>
            Course Name:
          </label>
          <select name="courseName" th:each="c : ${courses}">
            <option th:text="${c.name}" th:value="${c.id}" th:selected="${!c.name}">
            </option>
          </select>
        </div>
        <input type="hidden" th:value="true" name="handled">
        <div class="form-group mt-2">
          <label>
            Commentary:
          </label>
          <input type="text" class="form-control" name="commentary">
        </div>
        <div class="form-group mt-3">
          <label>
            Phone Number:
          </label>
          <input type="text" class="form-control" name="phone" placeholder="+7(___)">
        </div>
        <div class="form-group mt-2">
          <button class="btn btn-primary">Add Application</button>
        </div>
      </form>
    </div>
  </div>
</div>
</html>