<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="maket.html">
<div layout:fragment="site">
  <div class="container">
    <div class="card" style="width: 18rem;" th:each="n : ${checkApps}">
      <div class="card-body">
        <h5 class="card-title"><strong th:if="${n.handled}" style="color: red">( Новая заявка )</strong><p>Заявка от <strong th:text="${n.userName}"></strong></p></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${n.courseName}"></h6>
        <p class="card-text" th:text="${n.commentary}"></p>
        <h6 class="card-body" th:text="${n.phone}"></h6>
        <a th:href="@{'detail/' + ${n.id}}" class="btn btn-info btn-sm">DETAILS</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
</html>