<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="maket.html">
<div layout:fragment="site">
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <form th:action="@{'/progessApp'}" method="post">
        <div class="form-group mt-2">
          <label>
            User Name:
          </label>
          <input type="text" class="form-control" name="userName" th:value="${item.userName}" readonly>
        </div>
        <div class="form-group mt-2">
          <label>
            Course Name:
          </label>
          <input type="text" class="form-control" name="courseName" th:value="${item.courseName}" readonly>
        </div>
        <input type="hidden" th:value="${item.id}" name="id">
        <div class="form-group mt-2">
          <label>
            Commentary:
          </label>
          <input type="text" class="form-control" name="commentary" th:value="${item.commentary}" readonly>
        </div>
        <div class="form-group mt-2">
          <label>
            Phone Number:
          </label>
          <input type="text" class="form-control" name="phone" th:value="${item.phone}" readonly>
        </div>
        <div class="form-group mt-2">
          <label>
            Handled:
          </label>
          <select name="handled" class="form-control" readonly>
            <option th:value="false">No</option>
            <option th:value="true" th:selected="${item.handled}">Yes</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-success" th:if="${item.handled}">Process the application</button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete Application
          </button>
        </div>

      </form>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form th:action="@{'/deleteApp'}" method="post">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <input th:value="${item.id}" name="id" type="hidden">
            <div class="modal-body">
              Are you sure?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>