.main1{
    width: 400px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.beks{
    text-align: center;
}