<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="maket.html">
<div layout:fragment="site">
  <div class="main" style="display: flex;flex-direction: row;flex-wrap: wrap;width: 100%">
    <div class="main1 mt-2 ms-1" th:each="n : ${newApps}" style="width: 550px;display: flex;flex-direction: column;
            justify-content: space-between; font-size: 18px; height: 150px">
      <div class="app">
        <div style="display: flex;flex-direction: row">
          <h5 th:if="${n.handled}" style="color: red" class="me-1"> ( Новая заявка ) </h5>
          <h5 th:text="${n.userName}"></h5>
        </div>
        <div style="display: flex;flex-direction: column">
          <h6 th:text="${n.courses.name}"></h6>
          <h6 th:text="${n.commentary}"></h6>
        </div>
        <div style="display: flex;flex-direction: row">
          <h6 th:text="${n.phone}"></h6>
          <a th:href="@{'details/' + ${n.id}}" class="ms-2" style="font-size: 15px;margin-bottom: 5px">details</a>
        </div>
      </div>
    </div>
  </div>
</div>
</html>